body{
  background-image: url("sunset.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: monospace;

}
h1{
  color: #b5d9f9;
  text-align: center;
  font-size: 32px;
}
p{
  color: #dfc27b;
  font-size: 16px;
}
h3{
  color: #dfc27b;
  font-size: 18px;
}
a{
  color: #b5d9f9;
  font-size:16px;

}
h5{
  color: aliceblue;
  margin: auto;
  text-align: center;
}
ul{
  color: #ead9b1;
}
h4{
  color: #ead9b1;
}
img{
  border-radius: 10px;
  border-style: solid;
  border-color:#ead9b1;
}
.selfie{
  height: 200px;
}
.myDiv{
  margin: auto;
  text-align:center;
}